serialcom
venv-tehusu
exec.sh
be/configs.py
be/db.sqlite3
be/__pycache__
be/djserver/__pycache__
be/tehusu/__pycache__
be/tehusu/migrations
ws/models/__pycache__/*
fe/node_modules
.ipynb_checkpoints
installNode6.txt
be/djserver/tehusu/__pycache__/*
