.echartsdiv {
    height: 600px;
}

.tooltip_right {
    border-radius: 0em 1em 1em 0em;
}

.tooltip_left {
    border-radius: 1em 0em 0em 1em;
}

.tooltip_middle {
    border-radius: 0em;
}

.row-top{
  margin-top: 30px;
  margin-bottom: 30px
}